@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Engineering Ambassador Sign Ups</h1>
    <p class="lead">Welcome back Ambassadors. Click the Sign Up button to view future events.</p>
    <p><a href="~/Views/Home/Events.cshtml" class="btn btn-primary btn-lg"></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Eagle Expo</h2>
        <p>
            <b>February 17, 2018</b>: Give tours to prospective engineering students.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vex Robotics</h2>
        <p>
            <b>Spring 2018</b>: Teach a robotics class at Varsity Lakes Middle School.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Collier County Tours</h2>
        <p>
            <b>March</b>: Give tours to 7th graders visiting campus.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Sign Up &raquo;</a></p>
    </div>
</div>