@model System.Data.DataTable;
@using System.Data;

@{
    ViewData["Title"] = "Sign Up";
}

<h2>Sign Up</h2>

@*Email action signs them into their desktop email application*@
<body>
    <form action="mailto:jrose@fgcu.edu" method="post" enctype="text/plain">
        <label>Event Name:</label><input type="text" /><br>
        <label>UIN:</label><input type="text" /><br>
        <label>Full Name:</label><input type="text" /><br>
        <label>Email:</label><input type="text" /><br>
        <button>Submit</button>
        <input type="reset" value="Reset">
    </form>
</body>