@model System.Data.DataTable;
@using System.Data;

@{
    ViewData["Title"] = "Application";
}

<h2>Application</h2>

<body>
    <label>UIN:</label><input type="number" /><br>
    <label>Full Name:</label><input type="text" /><br>
    <label>Email:</label><input type="email" /><br>
    <label>Major:</label><br/>
        <input type="radio" name="major" value="Bioengineering"> Bioengineering <br />
        <input type="radio" name="major" value="Civil Engineering"> Civil Engineering <br />
        <input type="radio" name="major" value="Environmental Engineering"> Environmental Engineering <br />
        <input type="radio" name="major" value="Software Engineering"> Software Engineering <br />
        <input type="radio" name="major" value="Other"> Other (Double Major) <br />
    <button>Submit</button>
</body>